*{font-size: 12px; margin: 0px; padding: 0px; height: auto;overflow: auto;}
#chenyuting{width: 700px; margin: 0px auto 0px auto;}
#zuobian{width: 180px;float: left; margin-right: 2px;}
#youbian{width: 518px;float: left;}
#caidan{background-image: url(../img/banner.jpg);height: 120px;}
#a{background-image: url(../img/button1.jpg);height: 33px;}
#daohang a{background-image: url(../img/button1.jpg);
width: 100px; color: #2b0000; 
height: 33px; line-height: 33px;
display: block; text-align: center; float: left;
text-decoration: none;}
#daohang a:hover
{background-image: url(../img/button1_bg.jpg);
color: cornflowerblue;}
#neirong{margin-top:2px;}
#zuobian
{width: 180px;float: left;}
#youbian
{width: 518; float: left;}
#hei{ padding-top: 50px;background-color: white;background-image: url(../img/login.jpg);
background-repeat: no-repeat;}
#hei div{margin-left: 20px; height: 30px;line-height: 30px;}
#hei a{text-decoration: none; color: gray;}
.hai{width: 100px;height: 25px; border-width: 0px 0px 1px 0px; border-break: black; border-style: solid;}
#tang{background-image: url(../img/category.jpg);height: 50px;}
#zhu{background-color: white;}
.san,.huacai,.jiage{; width: 150px; margin-left: 15px; background-color: #ffd8d9;
font-weight: bold;margin-top: 5px;}
#zhu li{background-image: url(../img/icon1.gif);background-repeat: no-repeat;
background-position:left center; padding-left:10px;height:22px;line-height: 22px;
border-style: dashed;border-width: 0px 0px 1px 0px; width: 130px;}
#zhu ul{ margin-left: 20px;}
.huacai,.jiage{margin-top: 20px;}
#zxb{background-image: url(../img/leftbottom.jpg);background-color: white;height: 16px;}
#you{background-image: url(../img/latest.jpg);
height: 33px; width: 518px;}
#bzkx img{margin-left: 2px;}
#xhtj{background:url(../img/recommend.jpg)no-repeat;padding-top: 40px;background-color: white;}
#xhtj li{width: 110px; float: left;margin: 9px;text-align: center;}
.sp{color:lightseagreen}
#xpss{background: url(../img/new.jpg) no-repeat;padding-top: 30px;margin-top: 2px;background-color: white;}
#xpss li{ width: 110px; float: left; margin: 9px; text-align: center;}
#xhdg{background: url(../img/tips.jpg)no-repeat; padding-top: 40px;margin-top: 2px;background-color: white;}
#xhdg ul{ margin-left: 30px;}
#xhdg li{ width: 230px; float: left;height: 28px; line-height: 28px;
background: url(../img/icon2.gif)no-repeat left center; padding-left: 10px;}
#xhdg a{ color:lightseagreen; text-decoration: none;}
#gekai{height: 30px;}
